#GameBoard{
    border:3px solid;
}
#gameContainer{
    text-align:center;
}
#score{
    font-family:"Permanent Marker",cursive;
    font-size:100px;
}
#restbutton{
   font-family: "Permanent Marker",cursive;
    font-size:22px;
    width:100px;
    height:50px;
    border:4px solid;
    border-radius:  15px;
    cursor:pointer;
}
#stop{
   font-family: "Permanent Marker",cursive;
    font-size:22px;
    width:180px;
    height:50px;
    border:4px solid;
    border-radius:  15px;
    cursor:pointer;
}